::-webkit-scrollbar {
  display: none;
}
body{
  background: linear-gradient(to right, #200122, #6f0000);
  height: 97vh;
  color: whitesmoke;
  font-size: small;
}
a:link {
  color: #2E144C;
}

/* visited link */
a:visited {
  color: #1A202C;
}

/* mouse over link */
a:hover {
  color: #F4410B;
}

/* selected link*/
a:active {
  color: #2E144C;
}

/*-------------------------Navigation Styling start----------------------------*/

.navigation {
  width: 99vw;
  height: auto;
    display: flex;
    border-bottom: 2px solid antiquewhite;
    position: sticky;
    background: linear-gradient(to right, #200122, #6f0000);
}
.website-name{
  margin-left: 5px;
  text-decoration: none;
}
.website-name:hover{
  text-decoration: underline;
}
div.search-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  background: transparent;
  padding: 6px;
}
.search-ip{
  width: 93%;
  border: none;
  background: transparent;
}

#one-two{
  display: flex;
  flex-wrap: nowrap;
    flex: 2;
}
#three{
    flex: 2;
}
#four{
  padding-top: 13px;
    flex: 4;
}
#search-bar{
  display: flex;
  flex-wrap: nowrap;
}
#five{
  padding-top: 10px;
  flex: 2;
}
.profile-pic{
  position: relative;
    float: right;
    margin-left: 15px;
}
.bell-icon {
    position: relative;
    float: right;
}
.not-dot {
    position: relative;
    float: right;
    margin-left: -2px;
}
#menu{
  display: none;
}
#hamburger{
  display: none;
}

/*---------------------------------Main Container------------------------------------*/

#main-aside-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
#main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 85.7vh;
  padding: 10px;
  margin-right: 5%;
}

aside {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 85.7vh;
  overflow-y: scroll;
  padding-top: 20px;
}
#artist
{
  padding: 20px;
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background: #612C2C;
  box-shadow: 1px 1px 1px 1px black;
}
#artist img{
  width: 30%;
  height: 100%;
}
#artist_info{
  padding: 10px;
  padding-left: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#div1{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}
#singer-name{
  display: flex;
  flex-direction: column;
  font-size: x-large;
  flex: 3;
  line-height: 5px;
}
#singer-follow{
  flex: 1;
}
#div2{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
#play-all{
  width: 20%;
}
#box{
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  width: 100%;
  text-align: center;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 1px black;
}
#follow{
  padding-left: 30px;
  padding-top: 15px;
  flex: 80%;
}
.grey{
  color: floralwhite;
}

#song_list{
  height: 50%;
  overflow-y: scroll;
  width: 100%;
  box-shadow: 1px 1px 1px 1px black;
  margin-top: 2%;
}

.song_queue{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background: #572323;
  margin-bottom: 5px;
}
.no{
  width: 5%;
  padding-left: 5px;
  padding-top: 10px;
}
.img{
  width: 10%;
  padding: 5px;
  display: inline;
}
.artist-song-img{
  width: 80%;
  height: 100%;
  border-radius: 20%;
  box-shadow: 1px 1px 1px 1px black;
}
.song_queue_desc{
/*  flex: 26;*/
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.i1{
/*  flex: 1;*/
  width: 5%;
  padding-top: 10px;
}
.i2{
/*  flex: 1;*/
  width: 5%;
  padding-top: 10px;
}
#queue{
  flex: 3;
}
#sort-by{
  flex: 1;
}
.queue-head{
  display: flex;
}
.queue-head h2{
  flex: 1;
}
.queue-list{
  height: 40%;
  overflow-y: scroll;
}
.queue-songs{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  margin-top: 15px;
}
.song-img{
    flex: 1;
    height: 100%;
    width: 8%;
    margin-left: 5%;
    border-radius: 10%;
}
.song-desc{
    flex: 3;
    line-height: 1px;
    padding-left: 10%;
    align-content: center;
}
.Like{
    flex: 1;
}
.white{
  color: whitesmoke;
}
.Similar-artist{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  margin-bottom: 10%;
  box-shadow: 1px 1px 1px 1px black;
}
.Similar-artist-head{
  display: flex;
  flex-direction: row;
  height: 10%;
  margin-bottom: 15px;
}
#similar-artist-title{
  font-size: x-large;
  flex: 3;
}
#viewall{
  flex: 1;
}
.similar-artist-songs{
  display: flex;
  flex-direction: column;
  height: 90%;

}
.Similar-artist-song-container{
  display: flex;
  flex-direction: row;
  height: 25%;
  margin-bottom: 5%;
}
.similar-artist-song-img{
  height: 100%;
  width: 16%;
}
.similar-artist-song-img img{
  width: 100%;
  height: 100%;
  border-radius: 20%;
  box-shadow: 1px 1px 1px 1px black;
}
.latest-song-desc{
  padding-left: 10px;
  width: 65%;
}
.ellipsis{
  width: 15%;
}


/*-----------------Play Pause Bar---------------------*/
.play-pause-bar {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 8vh;
  width: 100vw;
  background: linear-gradient(to right, #333333, #dd1818);
}
#c1 {
  height: 100%;
  width: 20vw;
  display: flex;
  margin-left: 2vw;
  align-items: center;
}
#c1 img {
  height: 80%;
  width: 3vw;
  margin-right: 1vw;
  border-radius: 10%;
}
#c2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60vw;
  align-items: center;
}
#play-pause {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  width: 18vw;
  margin-top: 1%;
}
#play-pause i {
  font-weight: bold;
  font-size: 1.4rem;
}
#BAR {
  height: 40%;
  width: 100%;
  display: flex;
}
#Bar1 {
  height: 50%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
#barsize {
  width: 65%;
  margin-left: 2%;
  margin-right: 2%;
}
#c3 {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-around;
  margin-right: 2vw;
}
input[type=range] {
    display: block;
    width: 30%;
}
.heartgreen {
  margin-left: auto;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  margin-right: 1vw;
  color: transparent !important;
}
.heartgreen:hover {
  color: greenyellow !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: greenyellow;
}
.white{
  color: whitesmoke;
}

/*---------------------Media Queries-----------------------------*/

/*Navigation Bar*/

@media screen and (max-width: 1000px) {
  #hamburger{
    display: inline-block;
  }
  #five{
    display: none;
  }
  #menu{
    flex: 1;
    padding-top: 10px;
    padding-right: 10px;
    display: block;
  }
  #main-aside-container {
    display: block;
    align-items: center;
  }
  
  #main {
    width: 90vw;
  }
  aside {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .latest-song-desc{
  padding-left: 10px;
  width: 80%;
  }
  .ellipsis{
    width: 10%;
  }
  .similar-artist-song-img{
    height: 100%;
    width: 10%;
  }
  .song-img{
    flex: 1;
    height: 100%;
    width: 8%;
    margin-left: 5%;
    border-radius: 10%;
  }
  .song-desc{
    flex: 6;
    line-height: 1px;
    padding-left: 10%;
    align-content: center;
  }
  .Like{
    flex: 1;
  }
  .text{
    font-size: x-small;
  }
  #play-all{
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  #follow{
    padding-top: 15px;
    flex: 50%;
  }
  #main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 85.7vh;
    padding: 10px;
  }
  #artist
  {
    padding: 20px;
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background: #612C2C;
    box-shadow: 1px 1px 1px 1px black;
    z-index: -10;
  }
  #song_list{
    height: 30%;
    overflow-y: scroll;
    width: 100%;
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 2%;
  }

  .song_queue{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: #572323;
    margin-bottom: 5px;
  }
  #artist img{
    width: 30%;
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  #five{
    display: none;
  }
  .website-name{
    margin-left: 5px;
    text-decoration: none;
    font-size: x-small;
  }
  .play-button{
    display: none;
  }
  #menu{
    flex: 1;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
  }
  #one-two{
    flex: 2;
  }
  #four{
    padding-top: 13px;
    flex: 2;
  } 
  .latest-song-desc{
  padding-left: 10px;
  width: 80%;
  }
  .ellipsis{
    width: 10%;
  }
  .similar-artist-song-img{
    height: 100%;
    width: 10%;
  }
  .song-img{
    flex: 1;
    height: 100%;
    width: 8%;
    margin-left: 5%;
    border-radius: 10%;
  }
  .song-desc{
    flex: 6;
    line-height: 1px;
    padding-left: 10%;
    align-content: center;
  }
  .Like{
    flex: 1;
  }
  .text{
    font-size: x-small;
  }
  #play-all{
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: x-small;
  }
  #follow{
    padding-top: 15px;
    width: 10%;
  }
  #artist{
    padding: 20px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background: #612C2C;
    box-shadow: 1px 1px 1px 1px black;
    z-index: -10;
  }
  #singer-name p{
    font-size: x-small;
  }
  #song_list{
    height: 30%;
    overflow-y: scroll;
    width: 100%;
    box-shadow: 1px 1px 1px 1px black;
    margin-top: 2%;
  }

  .song_queue{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background: #572323;
    margin-bottom: 5px;
    font-size: x-small;
  }
  #artist img{
    width: 30%;
    height: 30%;
  }
}
